.aboutImageContainer{
    border: 1px solid var(--orange);
    border-radius: 15px;
    height: 300px;
    width: 300px;
    margin: auto 10px auto;
}

.image{
    border-radius: 15px;
    height: 100%;
    width: 100%;
}